@{
    ViewData["Title"] = "FailPhotoLoad";
    ViewBag.MenuActive = "Оставить заявку";
}

@section Styles
    {
    <link rel="stylesheet" href="~/styles/resume.css" />
}

<h2 class="text-danger">Ошибка при загрузке фото, обратитесь к администратору сайта.</h2>
<a class="btn btn-primary" asp-controller="Resume" asp-action="LoadPhoto">Попробовать еще раз</a>
