@model ResumePageVM

@{
    ViewBag.Title = "Резюме";
}

@section Menu
{
    @await Component.InvokeAsync("Menu", new { menuModel = Model.Menu })
}

@section Styles
    {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/resume.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/resume.min.css" asp-append-version="true" />
    </environment>
}

<div class="resume">
    <form asp-controller="Resume" asp-action="AddResume" method="post">
        <label asp-for="Resume.FirstName"></label>
        <input type="text" asp-for="Resume.FirstName" />
    </form>
</div>
