@{
    ViewData["Title"] = "Загрузка фото";
    ViewBag.MenuActive = "Оставить заявку";
}

@section Styles
    {
    <link rel="stylesheet" href="~/styles/resume.css" />
}

<h2 class="text-success">Ваша заявка сохранена</h2>

<form asp-controller="Resume"
      asp-action="LoadPhoto"
      asp-antiforgery="true"
      method="post"
      enctype="multipart/form-data">
    <div class="form-group col-md-4">
        <label class="control-label">Вы можете прикрепить фото к созданной заявке.</label>
        <input type="file" name="photo" />
    </div>
    <input class="btn btn-primary" type="submit" value="Загрузить" />
</form>


