@{
    ViewData["Title"] = "SuccessPhotoLoad";
    ViewBag.MenuActive = "Оставить заявку";
}

@section Styles
    {
    <link rel="stylesheet" href="~/styles/resume.css" />
}

<h2 class="text-success">Ваше фото успешно загружено!</h2>

