header {
    width: 100%;
    background-color: #009688;
}

.head-box {
    max-width: 1100px;
    margin: 0 auto;
    color: #fff;
    height: 50px;
}

.logo {
    text-transform: uppercase;
    padding: 1px 0 0 2px;
    display: inline-block;
    color: #fff;
    transition: all 0.5s ease;
    float: left;
    padding-top: 12px;
}

.city-dropdown {
    float: left;
    height: 100%;
    margin-left: 70px;
    outline: none !important;

    $city-active: #0d5852;

    &__btn {
        height: 100%;
        outline: none !important;
        background-color: #10756c;
        color: #fff;
        padding: 0 10px;
        cursor: pointer;
        transition: all 0.5s ease;

        &:hover,
        &[aria-expanded="true"] {
            background-color: $city-active;
        }
    }

    & .dropdown-item.active,
    & .dropdown-item:active {
        background-color: $city-active;
    }
}

.phone-icon {
    float: left;
    padding: 15px 15px 0 0;
}

.contacts-box {
    display: inline-block;
    float: right;
    margin-right: 20px;

    &__list {
        display: inline-block;
    }

    &__contact {
        line-height: 21px;
    }
}

.social-box {
    display: inline-block;
    line-height: 45px;
    margin-left: 50px;

    &__instagram {
        color: #fff;
        font-size: 40px;
        transition: all 0.3s ease;

        &:hover {
            color: #22776f;
        }
    }
}
