.title {
    margin-bottom: 70px;
    text-align: center;
    color: #4d4d4d;
    padding-top: 50px;
}

.msg {
    background: #f7f8f7;
    padding: 20px;
    border-radius: 5px;
    width: 43%;

    &__title {
        display: block;
        font-size: 16px;
        margin-bottom: 10px;
    }
}

.btn {
    color: #fff;
    white-space: nowrap;
    background: #009688;
    color: white;
    padding: 14px 25px 12px;
    text-transform: uppercase;

    &-container {
        text-align: center;
    }
}
