nav {
  position: fixed;
  left: 0;
  width: 220px;
  height: 100%;
  box-shadow: none;
  background-color: #ee6e73;
}

.menu-head {
  margin: 0;
  line-height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 1.3em;
  padding-left: 20px;
  padding-bottom: 3px;
  cursor: default;
  font-weight: 400;
  color: #fff;
}

.menu-head i {
  padding: 10px 10px 0 0;
  margin-left: -10px;
  font-size: 1.2em;
  position: relative;
  top: 4px;
}
