@import 'colors';

/*card gradient https://css-tricks.com/examples/GradientBorder/ */
%common {
  content: '';
  position: absolute;
  bottom: -2px;
  left: -2px;
}

.bot-left-gradient {
  position: relative;

  &::before {
    @extend %common;
    top: -2px;
    width: 2px;
    background-image: -webkit-linear-gradient(transparent, $orange);
    background-image: -moz-linear-gradient(transparent, $orange);
    background-image: -o-linear-gradient(transparent, $orange);
    background-image: -webkit-linear-gradient(transparent, $orange);
  }

  &::after {
    @extend %common;
    right: -2px;
    height: 2px;
    background-image: -webkit-linear-gradient(left, $orange, transparent);
    background-image: -moz-linear-gradient(left, $orange, transparent);
    background-image: -o-linear-gradient(left, $orange, transparent);
    background-image: -webkit-linear-gradient(left, $orange, transparent);
  }
}
