@import 'colors';

nav {
  text-align: right;
  display: block;
}

.nav__item {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  opacity: 0.5;
  border: 1px solid transparent;
  transition: all 0.5s ease;

  &:hover {
    opacity: 1;
  }

  &::before {
    margin-right: 10px;
  }

  &_home::before {
    content: url(../images/home_16.png);
  }

  &_tutors::before {
    content: url(../images/teacher-at-the-blackboard_16.png);
  }

  &_resume::before {
    content: url(../images/contract_16.png);
  }

  &_about-us::before {
    content: url(../images/about-us_16.png);
  }

  &_tariff::before {
    content: url(../images/tariff_16.png);
  }

  &_contacts::before {
    content: url(../images/opened-email-envelope_16.png);
  }

  &_administration::before {
    content: url(../images/settings-gears_16.png);
  }

  &_active {
    opacity: 1;
    border-top: 2px solid $orange;
    border-bottom: 1px solid #fff;
  }
}

@media screen and (max-width: 970px) {
  .nav__item {
    font-size: 0;

    &:before {
      margin: 0;
    }
  }
}

@media screen and (max-width: 400px) {
  .nav__item {
    padding: 15px;
  }
}
