* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: #000;
}

ul li {
  list-style: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 12pt;
  background-image: url(../images/Background.gif);
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea,
div.dropdown {
  max-width: 280px;
}

li.disabled,
button.disabled {
  cursor: not-allowed;
}

textarea {
  min-height: 100px;
}

main {
  border-top: 1px solid #ddd;
  position: relative;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
}

.form-group .control-label.required:after {
  content: ' *';
  color: red;
}

.color-1 {
  background-color: #e51c23;
}

.color-2 {
  background-color: #d0181e;
}

.color-3 {
  background-color: #b9151b;
}

.color-4 {
  background-color: #a21318;
}

.color-5 {
  background-color: #8b1014;
}

.color-6 {
  background-color: #F44336;
}

.color-7 {
  background-color: #E53935;
}

.color-8 {
  background-color: #D32F2F;
}

.color-9 {
  background-color: #C62828;
}

.color-10 {
  background-color: #B71C1C;
}

.color-11 {
  background-color: #FF1744;
}

.color-12 {
  background-color: #D50000;
}

.color-13 {
  background-color: #e91e63;
}

.color-14 {
  background-color: #d81b60;
}

.color-15 {
  background-color: #c2185b;
}

.color-16 {
  background-color: #ad1457;
}

.color-17 {
  background-color: #880e4f;
}

.color-18 {
  background-color: #f50057;
}

.color-19 {
  background-color: #c51162;
}

.color-20 {
  background-color: #9c27b0;
}

.color-21 {
  background-color: #8e24aa;
}

.color-22 {
  background-color: #7b1fa2;
}

.color-23 {
  background-color: #6a1b9a;
}

.color-24 {
  background-color: #4a148c;
}

.color-25 {
  background-color: #d500f9;
}

.color-26 {
  background-color: #aa00ff;
}

.color-27 {
  background-color: #673ab7;
}

.color-28 {
  background-color: #5e35b1;
}

.color-29 {
  background-color: #512da8;
}

.color-30 {
  background-color: #4527a0;
}

.color-31 {
  background-color: #311b92;
}

.color-32 {
  background-color: #651fff;
}

.color-33 {
  background-color: #6200ea;
}

.color-34 {
  background-color: #3f51b5;
}

.color-35 {
  background-color: #3949ab;
}

.color-36 {
  background-color: #303f9f;
}

.color-37 {
  background-color: #283593;
}

.color-38 {
  background-color: #1a237e;
}

.color-39 {
  background-color: #3d5afe;
}

.color-40 {
  background-color: #304ffe;
}

.color-41 {
  background-color: #2196F3;
}

.color-42 {
  background-color: #1E88E5;
}

.color-43 {
  background-color: #1976D2;
}

.color-44 {
  background-color: #1565C0;
}

.color-45 {
  background-color: #0D47A1;
}

.color-46 {
  background-color: #2979FF;
}

.color-47 {
  background-color: #2962FF;
}

.color-48 {
  background-color: #03a9f4;
}

.color-49 {
  background-color: #039be5;
}

.color-50 {
  background-color: #0288d1;
}

.color-51 {
  background-color: #0277bd;
}

.color-52 {
  background-color: #01579b;
}

.color-53 {
  background-color: #00b0ff;
}

.color-54 {
  background-color: #0091ea;
}

.color-55 {
  background-color: #00bcd4;
}

.color-56 {
  background-color: #00acc1;
}

.color-57 {
  background-color: #0097a7;
}

.color-58 {
  background-color: #00838f;
}

.color-59 {
  background-color: #006064;
}

.color-60 {
  background-color: #00e5ff;
}

.color-61 {
  background-color: #00b8d4;
}

.color-62 {
  background-color: #009688;
}

.color-63 {
  background-color: #00897b;
}

.color-64 {
  background-color: #00796b;
}

.color-65 {
  background-color: #00695c;
}

.color-66 {
  background-color: #004d40;
}

.color-67 {
  background-color: #1de9b6;
}

.color-68 {
  background-color: #00bfa5;
}

.color-69 {
  background-color: #4CAF50;
}

.color-70 {
  background-color: #43A047;
}

.color-71 {
  background-color: #388E3C;
}

.color-72 {
  background-color: #2E7D32;
}

.color-73 {
  background-color: #1B5E20;
}

.color-74 {
  background-color: #00E676;
}

.color-75 {
  background-color: #00C853;
}

.color-76 {
  background-color: #8bc34a;
}

.color-77 {
  background-color: #7cb342;
}

.color-78 {
  background-color: #689f38;
}

.color-79 {
  background-color: #558b2f;
}

.color-80 {
  background-color: #33691e;
}

.color-81 {
  background-color: #76ff03;
}

.color-82 {
  background-color: #64dd17;
}

.color-83 {
  background-color: #cddc39;
}

.color-84 {
  background-color: #c0ca33;
}

.color-85 {
  background-color: #afb42b;
}

.color-86 {
  background-color: #9e9d24;
}

.color-87 {
  background-color: #827717;
}

.color-88 {
  background-color: #c6ff00;
}

.color-89 {
  background-color: #aeea00;
}

.color-90 {
  background-color: #ffeb3b;
}

.color-91 {
  background-color: #fdd835;
}

.color-92 {
  background-color: #fbc02d;
}

.color-93 {
  background-color: #f9a825;
}

.color-94 {
  background-color: #f57f17;
}

.color-95 {
  background-color: #ffea00;
}

.color-96 {
  background-color: #ffd600;
}

.color-97 {
  background-color: #ffc107;
}

.color-98 {
  background-color: #ffb300;
}

.color-99 {
  background-color: #ffa000;
}

.color-100 {
  background-color: #ff8f00;
}

.color-101 {
  background-color: #ff6f00;
}

.color-102 {
  background-color: #ffc400;
}

.color-103 {
  background-color: #ffab00;
}

.color-104 {
  background-color: #ff9800;
}

.color-105 {
  background-color: #fb8c00;
}

.color-106 {
  background-color: #f57c00;
}

.color-107 {
  background-color: #ef6c00;
}

.color-108 {
  background-color: #e65100;
}

.color-109 {
  background-color: #ff9100;
}

.color-110 {
  background-color: #ff6d00;
}

.color-111 {
  background-color: #ff5722;
}

.color-112 {
  background-color: #f4511e;
}

.color-113 {
  background-color: #e64a19;
}

.color-114 {
  background-color: #d84315;
}

.color-115 {
  background-color: #bf360c;
}

.color-116 {
  background-color: #ff3d00;
}

.color-117 {
  background-color: #dd2c00;
}

.color-118 {
  background-color: #795548;
}

.color-119 {
  background-color: #6d4c41;
}

.color-120 {
  background-color: #5d4037;
}

.color-121 {
  background-color: #4e342e;
}

.color-122 {
  background-color: #3e2723;
}

nav {
  text-align: right;
  display: block;
}

.nav__item {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  opacity: 0.5;
  border: 1px solid transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav__item:hover {
  opacity: 1;
}

.nav__item::before {
  margin-right: 10px;
}

.nav__item_home::before {
  content: url(../images/home_16.png);
}

.nav__item_tutors::before {
  content: url(../images/teacher-at-the-blackboard_16.png);
}

.nav__item_resume::before {
  content: url(../images/contract_16.png);
}

.nav__item_about-us::before {
  content: url(../images/about-us_16.png);
}

.nav__item_tariff::before {
  content: url(../images/tariff_16.png);
}

.nav__item_contacts::before {
  content: url(../images/opened-email-envelope_16.png);
}

.nav__item_administration::before {
  content: url(../images/settings-gears_16.png);
}

.nav__item_active {
  opacity: 1;
  border-top: 2px solid #ffc107;
  border-bottom: 1px solid #fff;
}

@media screen and (max-width: 970px) {
  .nav__item {
    font-size: 0;
  }
  .nav__item:before {
    margin: 0;
  }
}

@media screen and (max-width: 400px) {
  .nav__item {
    padding: 15px;
  }
}

header {
  width: 100%;
  /* background-color: #800bbb; */
  background-color: #607d8b;
}

.head-box {
  max-width: 1100px;
  margin: 0 auto;
  height: 26px;
}

.logo {
  text-transform: uppercase;
  color: #fff;
  padding: 1px 0 0 2px;
  display: inline-block;
}

.logo:hover {
  color: #fff;
}

.resume {
  margin-top: 20px;
}

textarea.resume-large-textarea {
  height: 125px;
}

.resume-active-btn-container {
  position: relative;
  height: 40px;
}

.resume-active-btn-group {
  position: absolute;
  right: 54px;
}

.bootstrap-select > .dropdown-toggle {
  background-color: #fff;
  border: 1px solid #ced4da;
}
/*# sourceMappingURL=resume.css.map */