@import 'layout';
@import 'menu';
@import 'header';

.tutor-item {
  &-container {
    padding: 10px;
  }

  &-card{
    min-height: 420px;
    padding: 10px 0 10px 0;
  }

  &-photo {
    height: 400px;
    margin: 0 15px 15px 0;
    float: left;
  }
}
